{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<!-- About Section-->
        <section class="page-section we-bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <p class="lead text-center">The founder of the White Eagle style, Master Ray, using his extensive martial arts background has combined various styles into one solid system. He believes that Martial Arts is not just one style but a selection of many techniques to meet today's need for self-protection and positive personal growth.</p>

                <p class="lead text-center">Tang Soo Do is listed as one of our primary styles, it's actually a unique blend of Tang Soo Do, Tae Kwon Do, Hapkido, and other Martial Arts. </p>

                <p class="lead text-center">Master Ray also includes some traits from American Indians, hence the name White Eagle.  Our teachings are a "whole person philosophy", respecting one's self, others and natural.</p>

                <p class="lead text-center">Adults and youth train together.   Often son/father, daughter/mother, granddaughter/grandmother training join and advance.</p>

                <p class="lead text-center">Have a physical challenge? Our style/system is able to adapt meeting the need.  We understand that everyone is unique and not all bodies are in the same condition.</p>

                <p class="lead text-center">We are more than a "Karate" School.  Joining us is becoming part of the family.  We train hard and include some time for play.  Our play time activities involve picnics, holiday parties, camping, bowling, rock climbing and movie nights.</p>
            </div>
        </section>
{% endblock %}